@media (min-width:768px){

    /* ==== INICIAN ESTILOS PARA EL HEADER ===== */
    header{
        padding: 10px 50px;
    }
    #main {
        padding: 0;
        align-items: center;
    }
    .button-header{
        padding: 7px 30px;
        font-size: 14px;
    }
    .words-content {
        width: 600px;
    }

    .title-content{
        margin-top: 10px;
    }

    .title-img img{
        width: 250px;
    }

    .title-product{
        font-size: 24px;
        margin-left: 40px;
        padding-left: 30px;
    }

    .instruction h1{
        font-size: 30px;
    }
    .instruction span{
        font-size: 24px;
    }

    /* ==== TERMINAN ESTILOS PARA EL HEADER ===== */
    .container-letters{
        width: 500px;
        padding: 40px 50px;
    }

    .instructions-question{
        width: 600px;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: row;
    }
    .bluepoint{
        font-size: 26px;
        height: 55px;
        padding-left: 32px;
    }

    .bluepoint::before{
        content: "";
        width: 25px;
        height: 25px;
        left: -10px;
        top: 16px;
    }
    .question{
        height: 55px;
        padding-left: 32px;
        font-size: 18px;
    }
    html body input {
        margin-top: 25px;
    }
}