body{
    background-color: #F7F7F9;
    font-family: 'Roboto', sans-serif;
}

/* ==== INICIAN ESTILOS PARA EL HEADER === */
header{
    background-color: #F7F7F9;
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
}

.breadcrumb{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.title-content{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}
.title-img img{
    width: 100px;
}
.title-product{
    border-left: 2px solid #535D7E;
    color: #8092A0;
    font-size: 14px;
    margin-left: 20px;
    padding-left: 15px;
    align-items: center;
    display: flex;
}
.border-title img{
    width: 80%;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blueviolet; */
    height: 80px;
    align-items: center;

}

.btns-nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-return{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    color: #577bf8;
}

.button-header{
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #535d7e;
    color: #535d7e;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
}

.active-button{
    color: white;
    background-color: #535d7e;
}

.button-header:hover{
    color: white;
    background-color: #535d7e;
}
.instruction{
    color: #545e7f;
}
.instruction h1{
    font-size: 20px;
}
.instruction span{
    font-size: 16px;
}
.border-title{
    position: relative;
}
.final-button{
    width: 400px;
    position: absolute;
    right: 0;
    top: -28px;
    opacity: 0;
    display: none;
}
.final-b{
    width: 300px;
    margin: auto;
    display: none;
    opacity: 1;
}
.final-b img{
    width: 100%;
}
/* ==== TERMINAN ESTILOS PARA EL HEADER === */


.container{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* background-color: wheat; */
    margin: auto;
    align-items: center;
}

.game-wrapper{
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(168,168,168,1);
	-moz-box-shadow: 0px 0px 14px 0px rgba(168,168,168,1);
	box-shadow: 0px 0px 14px 0px rgba(168,168,168,1);
}

.ask-wrapper{
    font-family: 'Roboto', sans-serif;
}
.ask-wrapper .crossword-clues .row{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.ask-wrapper .crossword-clues li{
    position: relative;
    margin-top: 20px;
}
.across-clues{
    width: 120px;
}
.down-clues{
    width: 120px;
}
.list{
    list-style: none;
    padding: 0;
    font-size: 11px;
    color: #8092A0;
}
.point-number{
    color: white;
	background-color: #4a64ef;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}
.point-ask{
    display: flex !important;
}
.title-direction{
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 10px;
    font-size: 12px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    color: #535D7E;

    -webkit-box-shadow: 0px 0px 14px 0px rgba(168,168,168,1);
	-moz-box-shadow: 0px 0px 14px 0px rgba(168,168,168,1);
	box-shadow: 0px 0px 14px 0px rgba(168,168,168,1);
}
.title-direction::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #577bf8;
    position: absolute;
    left: -10px;
    border-radius: 50%;
    top: 10px;
}
.clue-tooltip-text{
    font-size: 11px;
}