@media (min-width:1200px){
    .container{
        max-width: 1150px;
    }
    .game-wrapper{
        width: 560px;
        height: 480px;
        padding: 36px;
    }
    .ask-wrapper .crossword-clues .row{
        width: 450px;
    }
    .ask-wrapper .crossword-clues li{
        margin-top: 40px;
    }
    .list{
        font-size: 17px;
    }
    .point-number{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 16px;
    }
    .title-direction{
        padding: 18px;
        font-size: 17px;
    }
    .across-clues{
        width: 200px;
    }
    .down-clues{
        width: 200px;
    }
    .title-direction::before{
        width: 35px;
        height: 35px;
        left: -17px;
        border-radius: 50%;
        top: 12px;
    }
}